@import '../../../styles/settings.scss';

// .root {
// }
.titlePaper {
  margin: $base-size 0;
  padding: $base-size;
  margin-bottom: 2 * $base-size;
}
.title {
  text-align: center;
}
.image {
  height: 100%;
  position: relative;
  height: 60vh;
  background: rgba($color: #2B4C6F, $alpha: 0.1);
  img {    
    width: 100%;
    // max-height: 60vh;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    transition: 0.8s;
  }
  .hidden {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
  .placeholder {
    font-size: 1.1rem;
    color: #2B4C6F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
  }
}
.edit {
  margin-left: 4 * $base-size;
}
